<!DOCTYPE html>
<html lang="en">


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/vue.js"></script>
<link rel="stylesheet"  href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
<link rel="stylesheet" href="styles/css/styles.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<header>
    <img width="100" class="logo" src="styles/images/sceau.png" alt="Toysovore">
</header>

<div id="app" class="container-fluid">


    <div class="row">
        <!-- Crée une instance du composant todo-list -->
        <div class="book-item col-12 col-sm-6 col-md-4 col-lg-3"
        v-for='item in sketchbooks'
        >
            <a v-on:click.prevent="select(item)" class="book-link" v-bind:data-id="item.id" v-bind:data-count="item.count" href="#">
            <img class="book-cover"  v-bind:src="'sketchbooks/'+item.id+'/cover.png'" alt="Couverture">
         <!--  <div class="book-title"> {{ item.title}}</div>-->
            </a>
        </div>
    </div>


    <modal v-if="showModal" @close="showModal = false" v-bind:item-selected="itemSelected">

    </modal>



</div>

</body>


<script type="text/x-template" id="modal-template">
   <div class="book-modal">
       <span> Vous avez sélectionné {{ itemSelected.title }}</span>

       <div>
           <span v-for="n in itemSelected.count">"Une page" </span>
       </div>
   </div>
</script>


</html>