body{
  background-image: url("img/bg.png");
  padding-top: 150px;
}

*:focus, *:hover{
  outline: none;
}

header{
  position: absolute;
  top: 35px;
  text-align: center;
  right: 0;
  left: 0;


}

.book-link{
  &:hover{
    .book-cover{
      transform: rotate(3deg);
   }
  }
}
