/* Smartphones (portrait and landscape) ----------- */
@media (max-device-width : 480px) {
  #app{
    #nav{
      float:none;
      margin:0;
      text-align:center;
      a{
        font-size: 1.4em;
      }
    }

    .sub-content{
      margin:20px;
    }

    .category{
      .cover{
        opacity:1;
      }
    }

    .logo-zone{
      padding:0;
      float: none;
      img{
        display: block;
        margin: 10px auto;
      }
    }

    .brand{
      text-align: center;
      padding: 0;
      display: block;
      float: none;
    }

    .about-text{
      text-align: center;
    }

    .feed-container{
      padding: 0
    }
    .post-container{
      padding : 5px;
    }
    .post-description {
      display: none
    }
    footer .logo{
      display:none;
    }
    .social-link{
      text-align:center;
    }
    .page-title{
      font-size:2em;
    }
    .credits{
      strong{display:block;}
    }
    .title{
      font-size: 1.5em;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}
